# En el .env de la app React
# URL de la API
VITE_API_BASE_URL=/api

# Configuración de WebSockets (Reverb/Pusher)
VITE_REVERB_APP_KEY=rc7n4lowtj8tna8o0eug
VITE_REVERB_HOST=iot.uleam.edu.ec
VITE_REVERB_PORT=443
VITE_REVERB_SCHEME=https