# En el .env de la app React
# URL de la API
VITE_API_BASE_URL=http://localhost:8000/api

# Configuración de WebSockets (Reverb/Pusher)
VITE_REVERB_APP_KEY=
VITE_REVERB_HOST=
VITE_REVERB_PORT=
VITE_REVERB_SCHEME=https